/* DAG stuff*/
.dag-solution .__dumi-default-previewer-actions {
  border: 0;
}
.dag-user-custom-clz {
  position: relative;
  height: 610px;
  border: 1px solid #d9d9d9;
}
.dag-user-custom-clz .xflow-x6-canvas {
  background: #fafafa;
}
.dag-user-custom-clz .x6-edge:hover path:nth-child(2) {
  stroke: #3056e3;
  stroke-width: 2px;
}
.dag-user-custom-clz .x6-edge.x6-edge-selected path:nth-child(2) {
  stroke: #3056e3;
  stroke-width: 2px;
}
.dag-user-custom-clz .xflow-node-dnd-panel-node-wrapper .xflow-algo-node {
  width: 180px;
}
.dag-user-custom-clz .xflow-canvas-dnd-node-tree {
  border-right: 1px solid #d9d9d9;
}
.dag-user-custom-clz .xflow-workspace-toolbar-top {
  background-image: linear-gradient(180deg, #ffffff 0%, #fafafa 100%);
  border-bottom: 1px solid #d9d9d9;
}
.dag-user-custom-clz .xflow-workspace-toolbar-bottom {
  text-align: center;
  background: #fff;
  border-top: 1px solid #d9d9d9;
}
.dag-user-custom-clz .xflow-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.dag-user-custom-clz .xflow-collapse-panel .xflow-collapse-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f7f8fa;
}
.dag-user-custom-clz
  .xflow-collapse-panel
  .xflow-collapse-panel-header
  .ant-input-affix-wrapper {
  padding: 2px 11px;
}
.dag-user-custom-clz .xflow-collapse-panel .xflow-collapse-panel-body {
  background: #f7f8fa;
}
.dag-user-custom-clz
  .xflow-collapse-panel
  .xflow-collapse-panel-body
  .xflow-collapse-header {
  padding: 12px 8px;
}
.dag-user-custom-clz .xflow-collapse-panel .xflow-node-dnd-panel-footer {
  display: none;
}
.dag-user-custom-clz .xflow-json-form .tabs .ant-tabs-nav {
  box-shadow: unset;
}
.dag-user-custom-clz
  .xflow-json-schema-form
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  color: #525252;
  font-weight: 300 !important;
}
.dag-user-custom-clz .xflow-json-schema-form .xflow-json-schema-form-footer {
  display: none;
}
.dag-user-custom-clz
  .xflow-json-schema-form
  .xflow-json-form
  .tabs.xTab
  .ant-tabs-nav
  .ant-tabs-nav-list,
.dag-user-custom-clz
  .xflow-json-schema-form
  .xflow-json-form
  .tabs.xTab
  .ant-tabs-nav
  .ant-tabs-nav-list
  .ant-tabs-tab {
  background: #f7f8fa;
}
.dag-user-custom-clz .xflow-json-schema-form .xflow-json-schema-form-body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f7f8fa;
  box-shadow: 0 1px 1px 0 #000000;
}

/* group */
.xflow-group-node {
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  box-shadow: rgb(17 49 96 / 12%) 0px 1px 3px 0px,
    rgb(17 49 96 / 4%) 0px 0px 0px 1px;
  cursor: grab;
}
.xflow-group-node:hover {
  background-color: rgba(227, 244, 255, 0.45);
  border: 1px solid #c1cdf7;
  box-shadow: 0 0 3px 3px rgba(64, 169, 255, 0.2);
  cursor: move;
}
.xflow-group-node .xflow-group-header {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 14px;
  line-height: 38px;
}
.xflow-group-node .xflow-group-header .header-left {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.xflow-group-node .xflow-group-header .header-right {
  display: inline-flex;
  align-items: center;
}
.xflow-group-node .xflow-group-header .header-right span.anticon {
  margin-left: 8px;
}
.x6-node-selected .xflow-group-node {
  background-color: rgba(243, 249, 255, 0.92);
  border: 1px solid #c1cdf7;
  box-shadow: 0 0 3px 3px #000000;
}
.x6-node-selected .xflow-group-node:hover {
  background-color: rgba(243, 249, 255, 0.6);
}

/* algo node */
.xflow-algo-node {
  z-index: 10;
  display: flex;
  width: 180px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c2c8d5;
  border-radius: 2px;
  box-shadow: -1px -1px 4px 0 rgba(223, 223, 223, 0.5),
    -2px 2px 4px 0 rgba(244, 244, 244, 0.5),
    2px 3px 8px 2px rgba(151, 151, 151, 0.05);
  transition: all ease-in-out 0.15s;
}
.xflow-algo-node:hover {
  background-color: #fff;
  border: 1px solid #3057e3;
  box-shadow: 0 0 3px 3px rgba(48, 86, 227, 0.15);
  cursor: move;
}
.xflow-algo-node .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}
.xflow-algo-node .label {
  width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xflow-algo-node .status {
  width: 36px;
}
.xflow-algo-node.panel-node {
  border: 0;
}
.x6-node-selected .xflow-algo-node {
  background-color: rgba(48, 86, 227, 0.05);
  border: 1px solid #3057e3;
  box-shadow: 0 0 3px 3px rgba(48, 86, 227, 0.15);
}
.x6-node-selected .xflow-algo-node:hover {
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(48, 86, 227, 0.15);
}
