@import "./css/dnd.css";
@import "./css/graph.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/purpleDark.css";
@import "@radix-ui/colors/orangeDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/redDark.css";
@import "@radix-ui/colors/cyanDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/limeDark.css";
@import "@radix-ui/colors/goldDark.css";
@import "@radix-ui/colors/pinkDark.css";
@import "@radix-ui/colors/mauveDark.css";

:root {
  --input-border: var(--purple7);
  --input-border-focus: var(--purple11);
}

.ant-layout {
  background: var(--gray1) !important;
}

.ant-layout-content {
  background: var(--gray1) !important;
}

.ant-layout-sider-dark.ant-pro-sider-layout-side {
  display: none;
}

.ant-page-header {
  padding: 0px;
  border-bottom: 3px solid var(--purple8);
}

.inside-content {
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh - 20px);
  background: var(--gray1) !important;
}

.ant-page-header-content {
  padding-top: 0px !important;
}

.ant-pro-sider-extra {
  padding: 0px !important;
}

.ant-pro-sider-extra {
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}

.ant-pro-table .ant-pro-card-body {
  padding: 0px !important;
}

.ant-menu-light {
  background-color: var(--gray1) !important;
}

.ant-page-header-heading button,
.ant-page-header-heading span {
  color: var(--gray2) !important;
}
.ant-page-header-heading svg {
  fill: var(--gray2) !important;
}

.ant-modal-header {
  border-color: var(--gray6) !important;
}

.ant-modal-footer {
  border-color: var(--gray6) !important;
}

.ant-modal-title {
  font-weight: bold !important;
  color: var(--mauve12) !important;
}

/* select */
.ant-select-selector {
  border: 1px solid var(--input-border) !important;
  box-shadow: none !important;
}

.ant-select-focused .ant-select-selector {
  border-color: var(--input-border-focus) !important;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05), inset 0 0 0 1px var(--gray6) !important;
}

/* input */
.ant-input-affix-wrapper {
  border: 1px solid var(--input-border) !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper-focused {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05), inset 0 0 0 1px var(--gray6) !important;
  border-color: var(--input-border-focus) !important;
}

/* button */
.ant-btn {
  font-weight: bold !important;
  color: var(--mauve1) !important;
  transition-duration: 100ms !important;
}

.ant-btn-default {
  background-color: var(--gray6) !important;
  color: var(--mauve12) !important;
}

.ant-btn-dangerous {
  background-color: var(--red10) !important;
  color: var(--mauve1) !important;
}

.ant-btn-dashed {
  color: var(--mauve12) !important;
}

.ant-btn-text {
  color: var(--gray9) !important;
}

/* tag */
.ant-tag {
  font-weight: bold !important;
}

/* tabs */
.ant-tabs-top > .ant-tabs-nav {
  margin: 0 0 8px 0 !important;
}

.ant-tabs-tab {
  padding: 4px !important;
}

.ant-tabs-tab-btn {
  font-weight: bold !important;
  font-size: 14px !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}

/* menu */
.ant-menu-item {
  font-weight: bold;
}

.ant-menu-item-selected:after {
  border-right: none !important;
}

/* table */
.ant-table-container table > thead > tr > th {
  font-weight: bold !important;
}

/* form */
.ant-form-item-label {
  font-weight: bold !important;
}

/* dropdown menu */
.ant-dropdown-menu-title-content {
  font-weight: bold !important;
  padding: 4px !important;
}

/* descriptions */
.ant-descriptions-view {
  border-color: var(--purple6) !important;
}

.ant-descriptions-row {
  border-color: var(--purple6) !important;
}

.ant-descriptions-item-label {
  background-color: var(--purple5) !important;
}

/* editor */
.euiMarkdownEditorToolbar {
  background-color: var(--gray2) !important;
}

.euiMarkdownEditorFooter {
  display: none !important;
}

.euiMarkdownEditor__toggleContainer {
  border-bottom: 1px solid var(--gray6);
}
