@import "./css/cmdk.css";

/* editor */
.euiMarkdownEditorFooter {
  display: none !important;
}

html {
  background-color: white !important;
}

/* override for EditableProTable */
.crud-editor .ant-pro-card .ant-pro-card-body {
  padding: 0px !important;
}
